body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    flex-wrap: wrap;
    gap: 15px;
    position: sticky;
    top: 0;
    background-color: white;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top: solid 1px black;
}

.header-title {
    font-family: 'Square Peg', cursive;
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}

.tab-buttons {
    display: flex;
    gap: 50px;
    height: min-content;
    align-self: center;
}

.tab-button {
    font-family: inherit;
    background: none;
    border: none;
    font-size: 1.2rem;
    padding: 5px 15px;
    border-radius: 10px;
    text-align: center;
}

button:hover {
    background: lightblue;
    color: white;
}

button:active {
    box-shadow: 0px 0px 5px rgb(0 0 0 / 0.7);
}

#home-content {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 75px;
}

.sub-headline {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 20%;
    margin: 0;
}

.image-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 calc(100vw * 0.20 - 180px);
}

.image-div > a {
    margin-top: 10px;
    font-size: 0.8rem;
}

a:visited {
    color: lightblue;
}